<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>window</title>
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css" />
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<style>
		body {
			font-family: 'Roboto';
		}
		a {
			color: inherit;
			font-size: 24px;
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.list-item {
			padding: 10px 20px;
			background-color: #FAFAFA;
		}

		.list-item.topic {
			color: #fff;
			background-color: #43A047;
		}

		.list-item.interesting {
			background-color: #FFEB3B;
		}

		.list-item.event {
			background-color: #29B6F6;
		}
	</style>
</head>
<body>
	<script id="list-item-template" type="x-tmpl-mustache">
		<ul>
			{{#properties}}
			<li class="{{klass}}"><a target="_blank" href="https://www.google.com/search?q={{query}}">{{prop}}</a></li>
			{{/properties}}
		</ul>
	</script>

	<script src="https://unpkg.com/mustache@2.3.0/mustache.min.js"></script>
	<script>
		;(function () {
			var classTopics = [
				'window', 'navigator', 'location', 'alert', 'popup', 'open', 'localStorage'
			];
			var interestingTopics = [
				'postMessage', 'document', 'fetch', 'btoa', 'atob', 'setTimeout', 'clearTimeout', 'setInterval', 'clearInterval'
			];
			var template = document.getElementById('list-item-template').innerHTML;
			var listData = { properties: [] };

			for (var prop in window) {
				var klass = ['list-item'];

				if (classTopics.includes(prop)) {
					klass.push('topic');
				}

				if (interestingTopics.includes(prop)) {
					klass.push('interesting');
				}

				if (prop.match(/^on\S/) !== null) {
					klass.push('event');
				}

				listData['properties'].push({
					prop: prop,
					klass: klass.join(' '),
					query: function () {
						var subject = 'window.' + this.prop;
						return [
							subject,
							'mdn'
						].join('+');
					}
				});
			}

			document.body.innerHTML = Mustache.render(template, listData);
		})();
	</script>
</body>
</html>